body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.TitleSection {
  background-color: rgb(158, 217, 103);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(19, 228, 36);
  font-size: 18px;
  padding-left: 10px;;
}

.TitleSection button {
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 18px;
  border: 1px solid rgb(7, 64, 7);
  font-size: 18px;
  color: whitesmoke;
  padding-left: 10px;
  background-color: rgb(57, 190, 170);
}

.TitleSection button:hover {
  cursor: pointer;
}
