body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.TitleSection {
  background-color: rgb(158, 217, 103);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}